<%= form_for @will do |f| %>
  <%= f.fields_for @will.accounts.build do |account| %>
    <div class="form-group">
      <%= account.label :bank , :class => 'form-control' %>
      <%= account.text_field :bank , :class => 'form-control' %>
    </div>
      
  <% end %>
<% end %>


