<div class="<%= action_name %>">
  <div class="container">
    <div class="title text-center">
      <h3>人生總有終結的一天，我們最希望讓你決定後人如何紀念你</h3>
      <p>（在你離開人世後，我們會將這份禮物送給你最重要的人）</p>
    </div>
    

    <div class="words_image border-radius text-center">
      <div class="image_paragraph">
        <p>是否有那麼一個人，你想在最後的最後，好好跟他道別？</p>
        <label class="btn btn-warning">新增一段送給誰的話</label>
      </div>
    </div>

    <h3 class="text-center">看看他們都說了些什麼？</h3>
    <div class="people_image_paragraph">
      <div class="col-md-4">
        <div class="text-center person">
          <%= image_tag("Circled_User_Male_000000_100.png", :alt => "" , :class => 'circle'  ) %>
        </div>
        <div class="border-radius">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vel reprehenderit ullam eligendi distinctio optio est, rerum cumque quam magnam expedita dignissimos nobis facilis tenetur repellat ipsam pariatur, dolor sit!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center person">
          <%= image_tag("Circled_User_Male_000000_100.png", :alt => "" , :class => 'circle' ) %>
        </div>
        <div class="border-radius">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vel reprehenderit ullam eligendi distinctio optio est, rerum cumque quam magnam expedita dignissimos nobis facilis tenetur repellat ipsam pariatur, dolor sit!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center person">
          <%= image_tag("Circled_User_Male_000000_100.png", :alt => "" , :class => 'circle' ) %>
        </div>
        <div class="border-radius">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vel reprehenderit ullam eligendi distinctio optio est, rerum cumque quam magnam expedita dignissimos nobis facilis tenetur repellat ipsam pariatur, dolor sit!</p>
        </div>
      </div>
    </div>
  </div>
</div>