<div id="<%= controller_name %>">
  <div id="<%= action_name %>">
    <div class="container text-center">
      <video controls autoplay width='1280' height="720" name="media">
        <source src="<%= @audios.last.video.url %>" type="video/webm">
      </video>
    </div>
  </div>
</div>