<div class="form-group yes-no-question">
		<br>	
		<h4>你希望自己在生命盡頭時，放棄無效醫療？</h4>
		<p>(註：經醫生診斷不能夠治療的情況下，進行如CPR、電擊、插管等侵入性治療。)</p>
		<br>
		<%= f.radio_button :futile_medical, true%>
		<label for="medical_futile_medical_true" class="preference-yes">
			<div class="description">是</div>
		</label>
		<%= f.radio_button :futile_medical, false%>
		<label for="medical_futile_medical_false" class="preference-no">
			<div class="description">不是</div>
		</label>
	</div>

<div class="form-group yes-no-question">
	<h4>生命到盡頭時，你願意捐贈器官？</h4>
	<br>
	<%= f.radio_button :organ_donation, true%>
	<label for="medical_organ_donation_true" class="preference-yes">
		<div class="description">是</div>
	</label>
	<%= f.radio_button :organ_donation, false%>
	<label for="medical_organ_donation_false" class="preference-no">
		<div class="description">不是</div>
	</label>
</div>