<div class="background">
	<div class="container text-center" id="<%= controller_name %>">
		<div class="title">
			<h1>安寧緩和醫療</h1>
		</div>
		<%= form_for @medical, url: will_medicals_path do |f| %>
			<%= render partial: 'medical', :locals => {:f => f} %>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= f.submit "儲存", class: "submit" %>    
        </div>
      </div>
		<% end %>
	</div>
</div>