@import "bootstrap-sprockets";
@import "bootstrap";
@import "wills";
@import "wills_index";
@import "welcome";
@import "funerals";
@import "digital_assets";
@import "slider";
@import "medicals";
@import "users";


$border-primary-color: #D0D0D0;
$default-color: #8D8D8D;
$main-color: #364860;
$secondary-color: #F8C957;


#logo {
  float: left;
}

#logo h1 {
  color: white;
  margin: 20px 0;
}


#header {
  z-index: 999;
  background-color: $main-color;
  margin-bottom: -50px;
  position: fixed;
  width: 100%;
  color: #fff;
  opacity: 0.85;


  .container {
    position: relative;
  }

  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  ul {
    margin: 0;
  }

  a {
    color: #fff;
    padding: 30px 10px;
  }

  a:hover {                 
    color: #ECB031;    
    text-decoration: none;        
  }

  li {
    line-height: 75px ;
    border-bottom: 3px solid transparent; 
  }

  li:hover{
      border-bottom: 3px #F8C957 solid; 
  }

}

.write { 
  padding:156px 0;
  background-image: url('writing-with-a-graphic-pen-picjumbo-com.png');   /*  背景用圖片的基本設定  */
  background-size: cover;                                        /*  背景圖展開成block的大小 */ 
  background-position: 50% 70%;                                   
  background-repeat: no-repeat; 
  width :100%;

  h2 {
    color: white;
  }
}

.user_bar {
  position: relative;

  ul {
    display:table-row;
    margin: 0px;

    li {
      display: table-cell;
      height: 50px;
      list-style-type: none;
      vertical-align: middle;

      a {
        display: table-cell;
        vertical-align: middle;
        height:50px;
        color: #000;
      }

      img {
        width: 32px;
      }

      .arrow-right {
        height: 40px;
      }

      .completed {
        float: right;
        width: 22px;
        background-color: #CFCFCF;
        margin-left: 15px;
      }

      .notarization {
        background-color: $main-color;
        color: #fff;
        padding: 8px 70px;
        float: right;
        margin-top: 5px;
      }

      .preview {
        width: 24px;
        background-color: #6C7C89;
      }
    }

    .right {
      position: absolute;
      right: 0;
    }

    button:hover {
      color: #F8C957;
    }

    li:hover {
      a {
        color: #F8C957;
      }
    }  
  } 
}

