@import "bootstrap-sprockets";
@import "bootstrap";
@import "wills";
@import "wills_index";
@import "welcome";
@import "funerals";
@import "digital_assets";
@import "slider";
@import "medicals";
@import "users";
@import "audios";


$border-primary-color: #D0D0D0;
$default-color: #8D8D8D;
$main-color: #6C7C89;
$secondary-color: #F8C957;
$white-color: #F3F4F5;




a:hover {
  text-decoration: none;
}

#logo {
  float: left;

  h1 {
    color: white;
    margin: 20px 0;
  }

  img {
    width: 60px;
    height: auto;
    padding: 10px 0;
  }
}


#header {
  z-index: 999;
  background-color: #364860;
  margin-bottom: -50px;
  position: fixed;
  width: 100%;
  color: $white-color;
  opacity: 0.85;


  .container {
    position: relative;
    
  }

  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  ul {
    margin: 0;
  }

  a {
    color: #F3F4F5;
    padding: 30px 10px;
  }

  a:hover {
    color: #ECB031;
    text-decoration: none;
  }

  li {
    line-height: 75px ;
    border-bottom: 3px solid transparent; 
    cursor: pointer;
  }

  li:hover{
    border-bottom: 3px #F8C957 solid; 
  }

}

.write { 
  padding:156px 0;
  background-image: url('writing-with-a-graphic-pen-picjumbo-com.png');   /*  背景用圖片的基本設定  */
  background-size: cover;                                        /*  背景圖展開成block的大小 */ 
  background-position: 50% 70%;                                   
  background-repeat: no-repeat; 
  width :100%;

  h2 {
    color: white;
  }
}

.user {

  position: relative;
  top: -55px;
  border-bottom: 1px #EEEEEE solid;
  
  h3 {
    color: #fff;
    text-shadow: 2px #000;
  }

  img {
    float: left;
    background-color: #fff;
    margin-right :20px;
    padding: 2px;
    border-radius: 50%;
  }


  .user_bar {
    position: relative;

    ul {
      display:table-row;
      margin: 0px;

      li {
        display: table-cell;
        height: 50px;
        list-style-type: none;
        vertical-align: middle;
        font-size: 16px;

        a {
          display: table-cell;
          vertical-align: middle;
          height:50px;
          color: #8D8D8D;
          padding-right: 20px;

          span {
            padding-right: 10px;
          }

          span.badge {
            margin-left: 5px;
            padding: 3px 13px;
            background-color: $secondary-color;
          }
        }

        img {
          width: 32px;
        }

        .arrow-right {
          height: 40px;
        }

        .completed {
          float: right;
          width: 22px;
          background-color: #CFCFCF;
          margin-left: 15px;
        }

        .notarization {
          background-color: $main-color;
          color: $white-color;
          padding: 8px 70px;
          float: right;
          margin-top: 5px;
        }

        .preview {
          width: 24px;
          background-color: #6C7C89;
        }
      }

      .right {
        position: absolute;
        right: 0;
      }

      button:hover {
        color: #F8C957;
      }

      li:hover {
        a {
          color: #F8C957;
        }
      }  
    } 
  }
}

#footer {
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #364860;

  a {
    color: $white-color;
  }

  a:hover {              
    color: #ECB031;
    text-decoration: none;
  }

  ul {
    margin-bottom: 0;
    li {
      line-height: 50px;
      cursor: pointer;
    }
  }

    

  .word-link {
    li {
      padding-right: 40px;
    }
  }

  .img-link {

    nav {
      float: right;
    }

    ul {
      margin-top: 3px;

      li {
        font-size: 20px;
        color: #6C7C89;
      }

      li:hover {
        color: #ECB031;
      }
    }

    img {
      width: 20px;
      height: 20px;
      margin-bottom: 8px;
      cursor: pointer;
    }

  }
}

#devise {
  padding-bottom: 110px;
}


  


