@import "bootstrap-sprockets";
@import "bootstrap";
@import "wills";
@import "wills_index";
@import "welcome";
@import "funerals";
@import "digital_assets";
@import "slider";
@import "users";



#logo {
  float: left;
}

#logo h1 {
  color: white;
  margin: 20px 0;
}


#header {
  z-index: 999;
  background-color: #283441;
  margin-bottom: -50px;
  position: fixed;
  width: 100%;
  color: #fff;
  opacity: 0.85;


  .container {
    position: relative;
  }

  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  ul {
    margin: 0;
  }

  a {
    padding: 30px 10px;
  }

  li {
    line-height: 75px ;
    border-bottom: 3px solid transparent; 
  }

  li:hover{
      border-bottom: 3px #F8C957 solid; 
  }

}

.write { 
  padding:156px 0;
  background-image: url('writing-with-a-graphic-pen-picjumbo-com.png');   /*  背景用圖片的基本設定  */
  background-size: cover;                                        /*  背景圖展開成block的大小 */ 
  background-position: 50% 70%;                                   
  background-repeat: no-repeat; 
  width :100%;

  h2 {
    color: white;
  }
}


