// Place all the styles related to the digital_assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-primary-color: #D0D0D0;
$main-color: #364860;
$secondary-color: #F8C957;
$main-font: PingFangTC-Medium;
$font-color: #8D8D8D;
.background {
    background-color: #F9F9F9;
	width: 100%;
	margin-top: -55px;
	padding-top: 20px;
}

.yes-no-button {
	width: 211px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid $border-primary-color;
	position: relative;
	background-position: 50% 40%;
	margin-right: 20px;
}

.text-center-button {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: $main-color;
	font-size: 1.3em;
	width: 90%;
}

.yes-no-family-button {
	@extend .yes-no-button;
	width: 137px;
}

#digital_assets{
	width: 900px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	padding-bottom: 100px;

	h3, h4{
		font-size: 1.7em;
	}
	.yes-no-question{
		input {
			visibility: hidden;
			display: none;
		}

		label {
			@extend .yes-no-button;
			.description {
				@extend .text-center-button
			}
		}
		label.preference-yes {
			background:url("default_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		label.preference-no {
			background:url("default_no.png") no-repeat;
			background-position: 50% 40%;
		}


		// Hover effect 
		input[type=radio]:checked + label {
			border: 1px solid $secondary-color;
		}
		input[type=radio]:checked + label.preference-yes {
			background:url("hover_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		input[type=radio]:checked + label.preference-no {
			background:url("hover_no.png") no-repeat;
			background-position: 50% 40%;
		}
	}
	//textboxes
	.other {
		input {
			text-align: center;
			height: 36px;
			width: 90%;
			border: 1px solid $border-primary-color;
			border-radius: 5px;
		}
	}

	.facebook-treatment {
		input {
			visibility: hidden;
			display: none;
		}

		label {
			@extend .yes-no-family-button;
			.description {
				@extend .text-center-button
			}
		}
		label.preference-yes {
			background:url("default_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		label.preference-no {
			background:url("default_no.png") no-repeat;
			background-position: 50% 40%;
		}
		label.preference-family {
			background:url("default_family.png") no-repeat;
			background-position: 50% 40%;
		}

		// Hover effect 
		input[type=radio]:checked + label {
			border: 1px solid $secondary-color;
		}
		input[type=radio]:checked + label.preference-yes {
			background:url("hover_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		input[type=radio]:checked + label.preference-no {
			background:url("hover_no.png") no-repeat;
			background-position: 50% 40%;
		}
		input[type=radio]:checked + label.preference-family {
			background:url("hover_family.png") no-repeat;
			background-position: 50% 40%;
		}
	}
	.heir-options {
		select { 
			width: 20%;
			height: 36px;
			-webkit-appearance: none;
	    	appearance: none;
			text-indent: 5px;
			background-image:
			    linear-gradient(45deg, transparent 50%, $border-primary-color 50%),
			    linear-gradient(135deg, $border-primary-color 50%, transparent 50%);
			background-position:
			    calc(100% - 15px) calc(1em + 2px),
			    calc(100% - 10px) calc(1em + 2px);
			background-size:
			    5px 5px,
			    5px 5px;
			background-repeat: no-repeat;
			color: $font-color;
			border: 1px solid $border-primary-color;
			text-align: center;
		}
		input {
			text-align: center;
			height: 36px;
			width: 70%;
			border: 1px solid $border-primary-color;
			border-radius: 5px;
		}
	}
	.submit {
				width: 210px;
				height: 36px;
				background-color: $secondary-color;
				border: none;
				border-radius: 5px;
				color: white;
	}
}