// Place all the styles related to the funerals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-primary-color: #D0D0D0;
$main-color: #364860;
$secondary-color: #F8C957;
$main-font: PingFangTC-Medium;

.form-button {
	width: 200px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid $border-primary-color;
	position: relative;
	background-position: 50% 40%;
	margin-right: 10px;
	.description {
		font-size: 1.5em;
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $main-color;
		width: 90%;
	}
}

.background {
    background-color: #F9F9F9;
	width: 100%;
	margin-top: -55px;
	padding-top: 20px;
}

#funerals {
	width: 900px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	padding-bottom: 100px;
	h3, h4 {
		font-size: 2em;
	}
	#new, #show {
		label {
				color: $main-color;
				font-family: $main-font;
			}
			select#funeral_religion {
				width: 500px;
				height: 36px;
				-webkit-appearance: none;
		    	appearance: none;
				text-indent: 5px;
				background-image:
				    linear-gradient(45deg, transparent 50%, $border-primary-color 50%),
				    linear-gradient(135deg, $border-primary-color 50%, transparent 50%);
				background-position:
				    calc(100% - 15px) calc(1em + 2px),
				    calc(100% - 10px) calc(1em + 2px);
				background-size:
				    5px 5px,
				    5px 5px;
				background-repeat: no-repeat;
			}

			.preference-button {
				width: 200px;
				display: inline-block;
				margin-right: 10px;
				input {
					visibility: hidden;
					display: none;
				}

				label {
					@extend .form-button;
				}
				label.preference-yes {
					background:image-url("default_ok.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				label.preference-no {
					background:image-url("default_no.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;

				}
				label.preference-family {
					background:image-url("default_family.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;					
				}

				// Hover effect 
				input[type=radio]:checked + label {
					border: 1px solid $secondary-color;
				}
				input[type=radio]:checked + label.preference-yes {
					background:image-url("hover_ok.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=radio]:checked + label.preference-no {
					background:image-url("hover_no.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=radio]:checked + label.preference-family {
					background:image-url("hover_family.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
			}
			// Funeral services button 
			.service {
				label {
					@extend .form-button;
					font-size: 1.5em;
					padding-top: 160px;
				}
				input {
					display: none;
				}
				label[for="funeral_funeral_service_ids_1"] {
					background:image-url("default_cemetery.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				label[for="funeral_funeral_service_ids_2"] {
					background:image-url("default_funeral.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				label[for="funeral_funeral_service_ids_3"] {
					background:image-url("default_memorial.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				// Hover effect 
				input[type=checkbox]:checked + label {
					border: 1px solid $secondary-color;
				}
				input[type=checkbox]:checked + label[for="funeral_funeral_service_ids_1"] {
					background:image-url("hover_cemetery.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=checkbox]:checked + label[for="funeral_funeral_service_ids_2"] {
					background:image-url("hover_funeral.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=checkbox]:checked + label[for="funeral_funeral_service_ids_3"] {
					background:image-url("hover_memorial.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
			}

			// Body arrangement
			.body-arrangement {
				label {
					@extend .form-button;
				}
				input {
					display: none;
				}

				label.preference-1 {
					background:image-url("default_cremation.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				label.preference-2 {
					background:image-url("default_ground_burial.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;

				}
				label.preference-3 {
					background:image-url("default_science.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				label.preference-4 {
					background:image-url("default_family.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;

				}


				// Hover effect 
				input[type=radio]:checked + label {
					border: 1px solid $secondary-color;
				}
				input[type=radio]:checked + label.preference-1 {
					background:image-url("hover_cremation.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=radio]:checked + label.preference-2 {
					background:image-url("hover_ground_burial.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=radio]:checked + label.preference-3 {
					background:image-url("hover_science.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
				input[type=radio]:checked + label.preference-4 {
					background:image-url("hover_family.png") no-repeat;
					background-position: 50% 40%;
					background-size: 100px;
				}
			}

			// Burial arrangement
			.burial-arrangement {
				label {
						@extend .form-button;
					}
					input {
						display: none;
					}

					label.preference-1 {
						background:image-url("default_tree.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					label.preference-2 {
						background:image-url("default_sea.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					label.preference-3 {
						background:image-url("default_tombstone.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					label.preference-4 {
						background:image-url("default_family.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}


					// Hover effect 
					input[type=radio]:checked + label {
						border: 1px solid $secondary-color;
					}
					input[type=radio]:checked + label.preference-1 {
						background:image-url("hover_tree.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					input[type=radio]:checked + label.preference-2 {
						background:image-url("hover_sea.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					input[type=radio]:checked + label.preference-3 {
						background:image-url("hover_tombstone.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
					input[type=radio]:checked + label.preference-4 {
						background:image-url("hover_family.png") no-repeat;
						background-position: 50% 40%;
						background-size: 100px;
					}
			}
			.other {
				input {
					border: 1px solid $border-primary-color;
					width: 100%;
					height: 2em;
					text-align: center;
					border-radius: 5px;
				}
			}
			.funeral-service-description {
				width: 100%;
				height: 120px;
				padding: 5px;
				font-family: PingFangTC-Regular;
				font-size: 1.5em;
				color: #6C7C89;
				letter-spacing: 0;
				background: #F2F2F2;
				border-radius: 5px;	
				text-align: left;	
				margin-top: 5px;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			.submit {
				width: 100%;
	      height: 40px;
	      background-color: $secondary-color;
	      border: none;
	      border-radius: 5px;
	      color: white;
	      margin: 40px 0 60px 0;
	      font-weight: bold;
			}
		
	}
	
}
