// Place all the styles related to the medicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yes-no-button {
	width: 211px;
	height: 137px;
	border-radius: 5px;
	border: 1px solid $border-primary-color;
	position: relative;
	background-position: 50% 40%;
}

#medicals{
	width: 900px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	padding-bottom: 100px;
	.yes-no-question{
		input {
			visibility: hidden;
			display: none;
		}

		label {
			@extend .yes-no-button;
			.description {
				@extend .text-center-button
			}
		}
		label.preference-yes {
			background:image-url("default_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		label.preference-no {
			background:image-url("default_no.png") no-repeat;
			background-position: 50% 40%;
		}

		// Hover effect 
		input[type=radio]:checked + label {
			border: 1px solid $secondary-color;
		}
		input[type=radio]:checked + label.preference-yes {
			background:image-url("hover_ok.png") no-repeat;
			background-position: 50% 40%;
		}
		input[type=radio]:checked + label.preference-no {
			background:image-url("hover_no.png") no-repeat;
			background-position: 50% 40%;
		}
	}
	.submit {
		width: 210px;
		height: 36px;
		background-color: $secondary-color;
		border: none;
		border-radius: 5px;
		color: white;
	}
}