// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info {
	
	#f_written_on_2i {
		height: 36px;
		width: 137px;
		color: #bbb;

	}
	#f_written_on_1i {
		height: 36px;
		width: 137px;
		color: #bbb;

	}
	#f_written_on_3i {
		height: 36px;
		width: 137px;
		color: #bbb;

	}

}