// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-primary-color: #D0D0D0;
$main-color: #364860;
$secondary-color: #F8C957;
$main-font: PingFangTC-Medium;

h1 {
	color: $main-color;
	font-family: $main-font;
}

.info {
	label {
		color: $main-color;
		font-family: $main-font;
	}
	input {
		border: 1px solid #D0D0D0;
	}
	select {
		-webkit-appearance: none;
    	appearance: none;
		text-indent: 5px;
		background-image:
		    linear-gradient(45deg, transparent 50%, $border-primary-color 50%),
		    linear-gradient(135deg, $border-primary-color 50%, transparent 50%);
		background-position:
		    calc(100% - 15px) calc(1em + 2px),
		    calc(100% - 10px) calc(1em + 2px);
		background-size:
		    5px 5px,
		    5px 5px;
		background-repeat: no-repeat;
	}

	#f_written_on_2i, #f_written_on_1i, #f_written_on_3i {
		text-align: center;
		height: 36px;
		width: 137px;
		border: 1px solid #D0D0D0;
		margin-left: 10px;
	}
	.submit {
		width: 210px;
		height: 36px;
		background-color: $secondary-color;
		border: none;
		border-radius: 5px;
		color: white;
	}
}


