.circle {
  border-radius: 50%;
}

a {
  color: #fff;
}

a:hover {                 
  color: #ECB031;    
  text-decoration: none;        
}



.chevron::before {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}


//user/show/X

.user-list-bar {

  border-bottom: 2px #F2F2F2 solid;

    .list {
      display: inline-block;
      padding: 15px 10px 15px 20px;
      cursor: pointer;
      border-bottom: 5px solid transparent;

      span {
        padding-left: 15px;
      }
    }

    .list:hover {
      color: #F8C957;
      border-bottom: 5px solid #F8C957;
    }

  
  // .user-list-bar {
  //  ul {
      
  //    border-bottom: 2px #D8D8D8 solid;

  //    li {
  //      color: #000;
  //      padding: 0 0 0 16px;
  //      padding-bottom: 16px;
  //      border-bottom: 3px solid transparent;
  //      cursor: pointer; 

  //      span {
  //        padding: 0 10px;
  //        opacity: 0;
  //      }
  //    }

  //    li:hover {
  //      color: #F8C957;
  //      padding-bottom: 16px;
  //      border-bottom: 3px #F8C957 solid;
  //      margin: 0;

  //      span {
  //        opacity: 1;
  //      }
  //    }
  //  }
  // }
}

.user-arrangement {
  .choose {
    margin: 20px 0;

    .choose-btn {
      position: relative;
      width: 200px;
      margin: 0 auto;
      border: 1px #F2F2F2 solid;
      border-radius: 5px;
      padding: 30px 5px;
    }

    .choose-focus {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px #F2F2F2 solid;
      border-radius: 5px;
    }

    .choose-focus:hover {
      background: rgba(248,201,87,0.40);
      cursor:pointer
    }
  }
}

@media (min-width: 1200px) {
    .user-arrangement .choose{
        width: 20%;
    }
}









