$border-primary-color: #D0D0D0;
$default-color: #8D8D8D;
$main-color: #364860;
$secondary-color: #F8C957;

.clearfix {
  clear: both;
}

.border-radius {
  border: 1px solid $border-primary-color;
  border-radius: 5px;
}

.container2 {
  width: 570px;
  margin: 0 auto;
}

.unprint {
  display: none;
}





#show {
  
  .person {
    
    margin-bottom: 40px;

    h2 {
      margin: 40px 0;
    }

    p {
      font-size: 20px;
    }

    input {
      visibility: hidden;
      position: absolute;
    }
    
    .choose {
      height: 200px;
      border: 1px solid $border-primary-color;
      border-radius: 5px;
      position: relative;
      &:hover{
        border: 1px solid #F8C957;
      }
    }

    .default-ok {
      width: 100%;
      height: 100%;
      background-image: url("default_ok.png");
      background-repeat:  no-repeat;
      background-position: 50% 40%;
      color: $default-color;
      border-color: $border-primary-color;
      z-index: 100;

    }

    .choose-type{
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
      position: absolute;
      color: $default-color;
    }

    input[type=radio]:checked + label.default-ok {
      background:url("hover_ok.png") no-repeat;
      background-position: 50% 40%;

      .choose-type {
        color: $secondary-color;
      }
    }

    .default-no {
      width: 100%;
      height: 100%;
      background-image: url("default_no.png");
      background-repeat:  no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    .default-no:hover {
      border-color: $secondary-color;
    }

    input[type=radio]:checked + label.default-no {
      background:url("hover_no.png") no-repeat;
      background-position: 50% 40%;

      .choose-type {
        color: $secondary-color;
      }
    }

  }

  .wish {

    margin-bottom: 30px;

    .col-sm-4 {
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
    }

    input {
      visibility: hidden;
      position: absolute;
    }

    .text{
      padding: 10px;
    }

    .wishs{
      height: 160px;
      border: 1px solid $border-primary-color;
      border-radius: 5px;
      color: $default-color;
      &:hover{
        border: 1px solid #F8C957;
      }
    }

    .wish-type {
      left: 50%;
      bottom: 10%;
      position: absolute;
      transform:translateX(-50%);
    }

    .asset{
      width: 100%;
      height: 100%;
    }

    .property {
      background-image: url("default_house.png");
      background-repeat: no-repeat;
      background-position: 50% 40%;
    }

    input[type=radio]:checked + label.property {
      background:url("hover_house.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }


    .stock {
      background: image-url("default_stock.png") no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    input[type=radio]:checked + label.stock {
      background:url("hover_stock.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }

    .account {
      background: image-url("default_money.png") no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    input[type=radio]:checked + label.account {
      background:url("hover_money.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }

    .motor {
      background: image-url("default_car.png") no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    input[type=radio]:checked + label.motor {
      background:url("hover_car.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }

    .jewelry {
      background: image-url("default_jewelry.png") no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    input[type=radio]:checked + label.jewelry {
      background:url("hover_jewelry.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }

    .other {
      background: image-url("default_other.png") no-repeat;
      background-position: 50% 40%;
      color: $default-color;
    }

    input[type=radio]:checked + label.other {
      background:url("hover_other.png") no-repeat;
      background-position: 50% 40%;
      color: $secondary-color;
    }

  }


  .wish-input {

      input {
        height: 40px;
        margin-bottom: 10px;
      }

      input[type=checkbox] {
        display: none;
      }

      .wish-btn {
        padding: 8px 100px;
        color: #6C7C89;
        border-color: #6C7C89;
        cursor: pointer;

        span {
          margin-right: 10px;
          color: #6C7C89;
        }
      }

      .wish-new {
        border-color: $secondary-color;

        span {
          color: $secondary-color;
        }
      }

      .form-heir {

        select {
          width: 100%;
          height: 40px;
          -webkit-appearance: none;
            appearance: none;
          text-indent: 5px;
          background-image:
              linear-gradient(45deg, transparent 50%, $border-primary-color 50%),
              linear-gradient(135deg, $border-primary-color 50%, transparent 50%);
          background-position:
              calc(100% - 15px) calc(1em + 2px),
              calc(100% - 10px) calc(1em + 2px);
          background-size:
              5px 5px,
              5px 5px;
          background-repeat: no-repeat;
          text-align-last:center;
        }

        .col-md-3 {
          padding: 0;
        }

        .col-md-9 {
          padding-right: 0;
        }

        .wish-heir-btn {
          margin-top: 20px;
          margin-bottom: -30px;
          
          span {
            color: $secondary-color;
          }

        }
      
      }

      .wish-submit {
        margin-top: 30px;

        .submit {
          width: 100%;
          height: 40px;
          background-color: $secondary-color;
          border: none;
          border-radius: 5px;
          color: white;
          margin: 15px 0;
          font-weight: bold;
        }
      }

  }
    
}


.words {
  margin-top: -55px;
  background-color: #F9F9F9;

  .title {
  
    h3 {
      margin-top: 60px;
      color: #63717D;
    }

    p {
      color: $border-primary-color;
      font-size: 20px;
    }
    
  }
  
  .words_image {
    background: image-url("writing-with-a-graphic-pen-picjumbo-com.png") no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    padding: 100px 0;

    p {
      font-size: 20px;
      color: white;  
      margin-bottom: 20px;
    }

    label {
      padding: 5px 30px;
      color: #4B5254;
      background-color: #F7C14D;
      border-color: #F7C14D;
    }

  }

  h3 {
    margin: 50px 0 25px 0;
    font-weight: bold;
    color: #63717D;
  }

  .people_image_paragraph {

    .person {
      
      margin-bottom: 20px;
    }

    .border-radius {
      background-color: #fff;
      border-color: border-primary-color;
      width: 80%;
      height: 80%;
      margin: 0 auto;
      margin-bottom: 100px;

      p {
        padding: 20px;
      }
    }
  }

  #myModal {

    margin-top: 10%;

    .modal-body {
      img {
        width: 10rem;
        height: 10rem;
      }
        
    }
    
    .modal-footer {
      border-color: white;

      .modal-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
        padding: 5px;
        width: 80%;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: white;
        text-shadow: none;
        opacity: 1;
        margin-bottom: 15px;
        }
        
        .close {
          background-color: #61717E;
        }

        .save {
          background-color: $secondary-color;
          color: #61717E;
        }
      }
    }
  }   
}

